---
---

<head>
  <meta charset="utf-8" />
  <title>Admin</title>

  <script>
    window.CMS_MANUAL_INIT = true;
  </script>

  <script src="https://unpkg.com/decap-cms@3.10.1/dist/decap-cms.js"></script>
  <script src="/admin/cms-slug.js" is:inline></script>
</head>

<body>
  <script>
    CMS.init({ config: '/config.yml' });
    if (window.registerCmsSlugHandler) {
      window.registerCmsSlugHandler();
    }
  </script>
</body>

